body {
    background: linear-gradient(0, rgb(0, 14, 52) 0%, #2D51D3 50%, #2D51D3 100%);
    font-weight: bolder;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    overflow: hidden;
}

*::after {
    pointer-events: all;
}

@font-face {
    font-family: 'papyrus.ttf';
    src: url("papyrus.ttf") format("truetype");
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #0062ff #91c5fd;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 60px;
}

*::-webkit-scrollbar-track {
    background: #91c5fd;
}

*::-webkit-scrollbar-thumb {
    background-color: #0062ff;
    border-radius: 16px;
    border: 0px none #ffffff;
}

/*scroll*/
/*banner*/
#banner {
    background-image: url("bg.png");
    padding: 10px;
    color: white;
    height: 100px;
}

#textOverlap {
    position: absolute;
    background-image: url("bgTextOverlap.png");
    opacity: 50%;
    padding: 10px;
    color: white;
    height: 100px;
    width: 90%;
    top: 0;
}

#banner>img {
    position: absolute;
}

#banner>span {
    font-size: 80px;
    font-family: 'papyrus.ttf';

    margin-left: 100px;
    position: absolute;
}

#menu {
    position: absolute;
    top: 92px;
}

.tabBtn {
    font-family: 'papyrus.ttf';
    padding: 0;
    font-size: 15px;
    background: transparent;
    font-weight: bolder;
    border-style: solid;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-color: transparent;
    color: rgb(0, 140, 255);
    width: 100px;
}

#about:hover::after {
    position: absolute;
    padding: 5px;
    content: 'just few dumbfucks smokin weed or crack and making games. lynkoGD - musician, heyer - developer and CEO and site operator, drip sand - developer, NEO - everyone`s favorite jeeb(weeb but actually japanese), hacker - pro gamer,lordx8066 - russian mafia,saturn - Co-founder and mascot,L0L - Co-founder and former CEO(got thrown off by heyer),ethanvandermer675 - cutsie :3,shark - OG and voice actor for demo,flowey_the_flower_9999 - PUSSY,varvarjeg - everyones favorite nigga(he gave me n-word pass i can say dis >:)),Mayo - best of bronies';
    background-color: #f1ff86;
    border: 2px solid #4a5300;
    z-index: 1;
    color: #4a5300;
    border-radius: 5px;
}

#socials:hover::after {
    position: absolute;
    padding: 5px;
    content: 'FUCK TWITTER';
    background-color: #f1ff86;
    border: 2px solid #4a5300;
    z-index: 1;
    color: #4a5300;
    border-radius: 5px;
}

/*banner*/

.tab {
    display: inline-block;
    border: 5px solid #00723131;
    padding: 5px;
    overflow: auto;
    height: calc(100vh - 140px);
    width: 200px;
    overflow-x: hidden;
}

/*games*/
.game {
    opacity: 50%;
    background: rgb(2, 0, 36);
    background: linear-gradient(0, rgb(0, 39, 146) 0%, rgb(0, 44, 242) 50%, rgb(45, 129, 255) 100%);
    font-family: 'papyrus.ttf';
    color: white;
    width: 150px;
    --height: 150px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.game>a>img {
    border-radius: 15px;
}

#wmb:hover::after {
    content: '- dum shooter inspired by tf2 and ultrakill';
}

#breathsim:hover::after {
    content: '- In this game you can breath......yeah. made for pinoprime in Roast me jam';
}

#vamprock:hover::after {
    content: '- you are a vampire rock teleport inside of humans to make them EXPLODE';
}

/*games*/

/*chat*/
comment {
    opacity: 50%;
    display: block;
    background: linear-gradient(0, rgb(0, 14, 52) 0%, #0094d8 100%);
    margin-bottom: 5px;
}

comment::after {
    position: relative;
    left: calc(100%);
}


comment::after,
comment::before {
    content: 'A';
    display: inline-block;
    width: 5px;
    min-height: 50px;
    background: linear-gradient(0, rgb(0, 14, 52) 0%, #484848 100%);
    color: transparent;
}

comment::before {
    position: absolute;
}

comment>span {
    opacity: 70%;
    color: #ffffff;
    font-family: 'papyrus.ttf';
    padding: 5px;
    padding-left: 20px;
    position: absolute;
}

/*chat*/